<div class="post-comment">
  <%= form_for @comment, remote: true do |f| %>
    <%= render "shared/error_messages", object: f.object %>
    <%= hidden_field_tag :chapter_id, @chapter.id %>
    <%= f.hidden_field :parent_id, value: parent_id %>
    <%= f.text_area :content, placeholder: t(".add_comment"), class: "form-control comment-content", id: "comment-content" %>

    <div class="button-comment">
      <%= f.submit t(".post"), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
